- row_nums = (content.size || 1)

.mt-5.h5.font-medium.leading-tight.text-xl.mt-0.mb-2.text-blue-600
  = title
textarea#disable.block.p-2.w-full.text-sm.text-gray-900.bg-gray-50.rounded-lg.border.border-gray-300.focus:ring-blue-500.focus:border-blue-500.cursor-not-allowed[rows=row_nums disabled placeholder=(content.join("\n"))]
