.mt-5.h5.font-medium.leading-tight.text-xl.mt-0.mb-2.text-blue-600
  = title
.block.p-4.w-full.text-gray-900.bg-gray-50.rounded-lg.border.border-gray-300.sm:text-md.focus:ring-blue-500.focus:border-blue-500.cursor-not-allowed.overflow-auto
  = content
