.attachments-wrapper {
  flex-direction: column;

  .side-nav {
    flex: 1;
    max-height: 50vh;
    min-width: fit-content;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .attachments-wrapper {
    flex-direction: row;

    .side-nav {
      max-height: 100%;
    }

    .results {
      padding: 2.5rem;
      & > div {
        flex: 1;
        padding: 2.5rem;
      }
    }
  }
}